@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-smgreen-50: #eefff3;
  --color-smgreen-100: #d7ffe6;
  --color-smgreen-200: #b2ffce;
  --color-smgreen-300: #76ffaa;
  --color-smgreen-400: #33f57d;
  --color-smgreen-500: #09de5b;
  --color-smgreen-600: #01b847;
  --color-smgreen-700: #05903b;
  --color-smgreen-800: #0a7133;
  --color-smgreen-900: #0b622f; /* Primary Main Color */
  
  --color-smyellow-50: #fffee7;
  --color-smyellow-100: #fffec1;
  --color-smyellow-200: #fff986;
  --color-smyellow-300: #ffed41;
  --color-smyellow-400: #ffdc0d;
  --color-smyellow-500: #fecc00; /* Secondary Main Color */
  --color-smyellow-600: #d19600;
  --color-smyellow-700: #a66b02;
  --color-smyellow-800: #89530a;
  --color-smyellow-900: #74440f;

  /* Font families */
  --font-poppins: 'Poppins', sans-serif;
  --font-dm-serif-display: 'DM Serif Display', serif;
  --font-smsans: var(--font-poppins), system-ui, sans-serif;
  --font-smserif: var(--font-dm-serif-display), serif;

}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-smsans);
}

/* Custom utility classes */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
